.App{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #EEE;
}
.header{
  border-bottom: 1px solid #bebebe;
}
.header img{
  width: 30px;
  height: 30px;
  margin: 35px 15px 0px 20px;
}
.header input{
  width: 350px;
  height: 30px;
  margin: 0 0 20px 0;
  border: 0px;
  font-size: 22px;
}
